<div class="users-list-container" fxLayout="column" fxLayoutAlign="start wrap" fxLayoutGap="32px">
    <users-search-form (changedView)="view_mode = $event" #search_form>
    </users-search-form>
    <users-cards *ngIf="view_mode == 'cards'"></users-cards>
    <users-table *ngIf="view_mode == 'table'"></users-table>
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-flat-button color="primary" (click)="loadMore()">
            Load more
        </button>
    </div>
</div>
